@charset "UTF-8";
#footer {
	height: 110px;
	background-color: #808080;
}
#footer p {
	text-align: center;
	font-weight: bold;
	paddin-bottom: 10px;
	font-size: 11pt;
}
#footer p img {
	margin-top: 10px;
	cursor: pointer;
}
#footer a {
	color: black;
	text-decoration: none;
}